fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.22
pydantic==2.12.5
python-dotenv==1.2.1

openai==2.16.0

langchain==1.2.8
langchain-community==0.4.1
langchain-core==1.2.8
langgraph==1.0.7

pinecone==8.0.0
weaviate-client==4.19.2

nltk==3.9.2
google-genai==1.61.0
gradio-client==2.0.3

torch==2.2.2
torchvision==0.17.2
open_clip_torch==3.2.0
sentence-transformers==5.2.2
transformers==4.41.2

pillow
numpy==1.26.4
scikit-learn==1.4.2
scipy==1.11.4
timm==1.0.24
