fastapi==0.128.0
uvicorn==0.40.0
python-multipart==0.0.22
pydantic==2.12.5
python-dotenv==1.2.1

openai>=2.16.0
langchain>=1.2.8
langchain-community>=0.4.1
langchain-core>=1.2.8
langgraph>=1.0.7
langchain-groq>=1.1.2
langchain-google-genai>=4.2.0

pinecone>=8.0.0
weaviate-client>=4.19.2

nltk
google-genai
gradio-client

torch==2.2.2
torchvision==0.17.2
open_clip_torch
sentence-transformers
transformers
